// Main.css

// Global styles


html {}

body {}


#app-container {
	height: 100vh;
	width: 100%;
}

.navigation-bar {
    background-color: #361C15;
    -webkit-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.75);
    & ul {
        & li {
            & span {
                color: #FFFFFF;
            }

            & a, button {
                transition: background-color 0.2s;
                color: #FFFFFF;
                &:hover {
                    background-color: #522A20;
                }

                &.active {
                    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.39);
                    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.39);
                    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.39);
                }

                &:active {
                    -webkit-box-shadow: inset 0px 0px 12px -7px rgba(0,0,0,0.8);
                    -moz-box-shadow: inset 0px 0px 12px -7px rgba(0,0,0,0.8);
                    box-shadow: inset 0px 0px 12px -7px rgba(0,0,0,0.8);
                    background-color: #1F100C;
                }

            }

            & button {
                background-color: #007AFF;
                display: inline-block;
                border: none;
                outline: none;
            }
        }
    }
}

.bean-list {
    background-color: #42322E;
    color: #FFFFFF;
    -webkit-box-shadow: inset -5px 0px 7px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: inset -5px 0px 7px -4px rgba(0,0,0,0.75);
    box-shadow: inset -5px 0px 7px -4px rgba(0,0,0,0.75);
}

.bean-list-entry {
    transition: background-color 0.2s;
    cursor: pointer;
    border-top: solid 1px #3D2018;
    &:last-child {
        border-bottom: solid 1px #3D2018;
    }
    &:hover {
        background-color: #755952;
    }
    &.selected {
        background-color: #7A3F30;
        -webkit-box-shadow: inset 0px 0px 7px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: inset 0px 0px 7px 0px rgba(0,0,0,0.75);
        box-shadow: inset 0px 0px 7px 0px rgba(0,0,0,0.75);
    }
}



